<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /jo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jo/index.php [L]
</IfModule>
